:root{
    --primary-color: #0a192f;
    --primary-color-light: #0a192f8d;
    --secondary-color: #62ebcf;
    --secondary-color-dark: #15D1AB;
    --accent-color: #ccd6f6;
    --accent-color-dark: #8892b0;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 15px 50px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #000000;
    backdrop-filter: blur(10px);
    background-color: var(--primary-color-light);
    z-index: 2;
}

header img{
    width: 50px;
    height: 50px;
}

header nav li{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
    transition: all .2s ease-in;
}

header nav li:hover{
    transition: all .2s ease-in;
    transform: translateY(-3px);
}

header nav li a{
    color: var(--accent-color);
    letter-spacing: 1px;
    transition: color .2s ease-in;
}

header nav li a:hover{
    color: var(--secondary-color);
    transition: color .2s ease-in;
}

header nav span{
    color: var(--secondary-color);
}

header nav li button{
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    transition: all .2s ease-in;
}

header nav li button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all .2s ease-in;
    cursor: pointer;
    outline: 1px solid var(--secondary-color);
    outline-offset: 3px;
    border-radius: 0;
}

.mobile-nav{
    display: none;
}

