:root{
    --primary-color: #0a192f;
    --primary-color-light: #0a192f8d;
    --secondary-color: #62ebcf;
    --secondary-color-dark: #15D1AB;
    --accent-color: #ccd6f6;
    --accent-color-dark: #8892b0;
}

@media only screen and (max-width: 600px){

    ::-webkit-scrollbar {
        width: 0;
      }
   
    body{
        font-size: 15px;
    }

    .preloader-container img{
        transform: scale(.3);
    }

    .container{
        overflow-y: scroll;
    }

    header{
        padding: 15px 30px;
        z-index: 10;
    }

    header img{
        width: 40px;
        height: 40px;
    }

    header nav{
        display: none;
    }

    .mobile-nav{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 90vh;
        bottom: 0;
        z-index: 2;
        background-color: var(--primary-color-light);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        transform: translateX(100%);
        transition: all .5s ease-out;
    }

    #open-mobile-nav{
        display: block;
        color: var(--secondary-color);
        transition: all .3s ease-in;
        font-size: 30px;
    }
    
    #close-mobile-nav{
        display: none;
        color: var(--secondary-color);
        transition: all .3s ease-in;
        font-size: 32px;
    }

    .mobile-nav span{
        color: var(--secondary-color);
        font-size: 15px;
    }

    .mobile-nav nav li{
        list-style-type: none;
        margin-bottom: 30px;
    }

    .mobile-nav nav li a{
        color: var(--accent-color);
        letter-spacing: 1px;
    }

    .mobile-nav nav button{
        background-color: transparent;
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 15px;
        letter-spacing: 1px;
        transition: all .2s ease-in;
    }

    .hero-container{
        display: flex;
    }

    .hero-container span{
        margin-left: 30px;
    }

    .hero-container h1{
        font-size: 40px;
    }

    .hero-container h2{
        font-size: 30px;
    }

    .hero-container p:last-of-type{
        font-size: 20px;
        padding-right: 15px;
    }

    .hero-container a{
        padding: 10px 20px;
        font-size: 15px;
    }
    
    .hero-container a:hover{
        padding: 10px 20px;
        font-size: 15px;
    }

    .fixed-social-icons-mobile{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .fixed-social-icons-mobile a{
        color: var(--accent-color-dark);
        border: none;
        font-size: 20px;
        margin-top: -20px;
        margin-left: -20px;
        margin-bottom: 30px;
    }

    .fixed-social-icons-mobile a:hover{
        background-color: var(--primary-color);
        color: var(--accent-color-dark);
        outline: none;
        font-size: 20px;
        margin-top: -20px;
        margin-left: -20px;
        margin-bottom: 30px;
    }

    .about-container{
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        height: auto;
    }

    .about-container span{
        margin-left: 30px;
        width: auto;
    }

    .about-container p{
        width: 290px;
        color: var(--accent-color-dark);
        margin-top: 20px;
        text-justify: inter-word;
        text-align: justify;
    }

    .about-container img{
        float: none;
        transform: translateX(0%) translateY(0%);
        width: 200px;
        height: 200px;
        outline: 1px solid var(--secondary-color);
        outline-offset: 0;
        border: 5px solid var(--secondary-color);
        transition: all .3s ease-in-out;
        margin-top: 30px;
    }

    .about-container img:hover{
        outline: 1px solid var(--secondary-color);
        outline-offset: 0;
        transform: translateX(0%) translateY(0%);
        border: 5px solid var(--secondary-color);
    }

    .qualification-container{
        padding-left: 30px;
    }

    .qualification-container span{
        width: 290;
    }

    .qualification-container h3{
        font-size: 20px;
        margin-bottom: 50px;
    }

    .qualification-container h4{
        font-size: 15px;
        margin-bottom: 5px;
    }

    .qualification-container em{
        font-size: 15px;
    }
    
    .qualification-container aside em{
        font-size: 15px;
    }

    .clg-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .experience-container{
        padding-top: 120px;
        padding-left: 0px;
        padding-right: 0px;
        height: auto;
    }

    .experience-container span{
        width: 290px;
    }

    .experience-container span h3{
        margin-left: 30px;
    }
    
    .experience-container article img{
        width: 250px;
        height: 150px;
        outline: 3px solid var(--secondary-color-dark);
        outline-offset: 20px;
        margin-top: 20px;
    }

    .experience-container article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .experience-container article p{
        width: 290px;
    }

    .experience-container aside{
        position: relative;
        text-align: left;
        margin-left: 20px;
        margin-top: 20px;
    }

    .experience-container section{
        padding: 0px;
        transform: translateX(0px);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .experience-container figure i {
        margin-left: 0px;
        margin-right: 10px;
    }

    .contact-container{
        display: flex;
        padding-top: 100px;
    }

    .contact-container span h1{
        color: var(--accent-color);
        font-size: 30px;
        margin-bottom: 20px;
    }

    .contact-container span p:first-of-type{
        font-size: 15px;
    }

    .contact-container span p{
        width: 280px;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fixed-email{
        display: none;
    }

    .fixed-social-icons{
        display: none;
    }

}