:root{
    --primary-color: #0a192f;
    --primary-color-light: #0a192f8d;
    --secondary-color: #62ebcf;
    --secondary-color-dark: #15D1AB;
    --accent-color: #ccd6f6;
    --accent-color-dark: #8892b0;
}

.skills-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 250px;
}

.skills-container span em{
    color: var(--secondary-color-dark);
}

.skills-container span h3{
    color: var(--accent-color);
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.skills-container span article{
margin-bottom: 20px;
}

.skills-container span article p{
    color: var(--accent-color-dark);
    margin-bottom: 10px;
}

.skills-container span article i{
    color: var(--accent-color);
    font-size: 20px;
    border-right: 2px solid var(--secondary-color-dark);
    padding-right: 20px;
    padding-left: 10px;
}

.skills-container span article i:last-of-type{
    border-right: none;
}